<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>Untitled</title>
</head>

<body>

<!--
<form action="index.php" method="post">
<input type="hidden" name="action" value="links/saveLink">

<input type="text" name="title" value="{$linkData.title}"><br>
<input type="text" name="link" value="{$linkData.link}"><br>
<input type="text" name="description" value="{$linkData.description}">

<input type="hidden" name="id" value="{$linkData.id}"><br>

<input type="submit" value="Edit">
</form>
-->

</body>
</html>
